# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment files
.env.development
.env.staging
.env.production

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Turbo
.turbo
